@{
    ViewBag.Title = "KontaktGame";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/style.css")
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="container-word">
            <div id="timer"><p><span id="timerMinutes">1</span>:<span id="timerSeconds">54</span></p></div>
            <p id="wordParagraph">Хирошима</p>
            <p id="questionAsked">Въпрос:<span id="question"></span></p>
            <input type="text" data-bind="value: word" class="enter-name main-input" placeholder="Въведи дума..">
            <button data-bind="click: word()!='' ? send : function(){}, text: button1" class="buttonForm buttonFormContact" >КОНТАКТ</button>
            <button data-bind="text: button2" class="buttonForm buttonFormGuess">ПОЗНАЙ</button>
            <div class="activePlayers">
                <div class="active-players-button" onclick="displayActivePlayers()"><div id="leftArrow">></div></div>
                <div class="activePlayers-inner">
                    <!-- ko foreach: users-->
                    <div class="active-player-box">
                        <span class="green-dot"></span>
                        <p data-bind="text: $data"></p>
                    </div>
                    <!-- /ko-->
                </div>
                <button>Откажи се</button>
            </div>
            <div class="used-words-container">
                <div class="used-words-button" onclick="displayUsedWord()"><div id="rightArrow">&#60;</div></div>
                <div class="used-words-inner">Използвани думи</div>
                <div class="used-words-scroll"></div>
                <p>Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, </p>
            </div>
        </div>

        <div id="messages" class="chat-log-container">
            <div class="chat-log">
                <p style="color: rgba(255,0,0) !important;">Ако четеш това си голям педал!</p>
            </div>
            <!--ko foreach: words-->
            <div class="chat-log">
                <p data-bind="text: $data"></p>
            </div>
            <!--/ko-->

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/app/Gameplay.js"></script>
    <script src="~/Scripts/app/main.js"></script>
</body>
</html>