@{
    ViewBag.Title = "KontaktGame";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/style.css")
</head>
<body>
    <div class="container">
        <div class="container-word">
            <div id="timer"><p><span id="timerMinutes">1</span>:<span id="timerSeconds">54</span></p></div>
            <p id="wordParagraph">Хирошима</p>
            <p id="questionAsked">Въпрос:<span id="question"></span></p>
            <input type="text" class="enter-name main-input" placeholder="Въведи дума..">
            <button class="buttonForm buttonFormContact">КОНТАКТ</button>
            <button class="buttonForm buttonFormGuess">ПОЗНАЙ</button>
            <div class="activePlayers">
                <div class="activePlayers-inner" data-bind="foreach: users">
                    <div class="active-player-box">
                        <span class="green-dot"></span>
                        <p data-bind="text: name"></p>
                    </div>
                </div>

                <button>Откажи се</button>
            </div>
            <div class="usedWords">
                <div>Използвани думи</div>
                <p>Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, Хитлер, Евреин, Пещ, </p>
            </div>
        </div>

        <div class="chat-log-container">
            <div class="chat-log">
                <p>Играта започва след 10 секунди... Пригответе се!</p>
            </div>
            <div class="chat-log">
                <p>Играта започва след 10 секунди... Пригответе се!</p>
            </div>
            <div class="chat-log">
                <p>Играта започва след 10 секунди... Пригответе се!</p>
            </div>
            <div class="chat-log">
                <p>Играта започва след 10 секунди... Пригответе се!</p>
            </div>
            <div class="chat-log">
                <p style="color: rgba(255,0,0) !important;">Ако четеш това си голям педал!</p>
            </div>
            
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/app/Gameplay.js"></script>
    <script src="~/Scripts/app/main.js"></script>
</body>
</html>